body {font-family: Arial, Helvetica, sans-serif;}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }
button {
    border: none;
    border-radius: 40px;
    background: #292b2e;
    color: #f9f9f9;
    padding: 10px 37px;
    margin: 10px 0 20px 60px;
}
.div_forms {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .div_form {
    width: 250px;
    background: #0F1012; 
    color: #f9f9f9;
    float: left;
  }

  #lista4 ol {
    counter-reset: li; 
    list-style: none; 
    list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista4 ol {
    margin: 0 0 0 2em; 
}

#lista4 {
    list-style-type: none;
    list-style-type: decimal !ie;
     
    margin: 0, 0, 0;
    margin-left: 3em;
    padding: 0, 0, 0;
     
    counter-reset: li-counter;
}

#lista4 > li{
    position: relative;
    margin-bottom: 20px;
    padding: 1em;
    border-left: 2px solid #CCCCCC;
    background-color: #f5f5f5;
}

#lista4 > li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
 
    font-size: 4em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
     
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    z-index: -99;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;
}
input.text {
    background: silver;
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
 }
 h2 {
    color: #3c1b66;
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
    text-transform: uppercase;
  }
  h3 {
    color: #443963;
    font-weight: normal;
    font-size: 30px;
    font-family: Arial;
  }
  h4 {
    color: #4f4866;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
  }
  h5 {
    color: #656172;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
  }
  h6 {
    color: #747377;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
  }
tr:hover td { background: #d0dafd; color: #339; }