<br>
<div class="" align="center">
    <h2>Bitacora de Accessos a la API de Marvel</h2>
    <div class="">
        <button (click)="this.consultBitacora()"> Consultar bitacora</button>
        <button (click)="this.cleanBitacora()"> Limpiar bitacora </button>
    </div>
    <br>
    <ol id="lista4">
        <li *ngFor="let items of this.data">
            {{ items.dateAcces }}
        </li>
    </ol>
</div>

<div class="" align="center">
    <h3> Consultar Personaje:</h3>
    <div class="">
        <label for="idNombrePersonaje"> <strong>Nombre del personaje: </strong></label>
        <input type="text" id="idNombrePersonaje" #nameCharacters class="text"/>
        <br>
        <br>
        <label for="IDPersonaje"> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#ID del personaje: </strong></label>
        <input type="text" id="IDPersonaje" #IDCharacters class="text"/>
        <br>
        <br>
        <button (click)="this.consulCharacteres(nameCharacters.value, IDCharacters.value)"> Buscar </button>
        <button (click)="this.cleanCharacters()"> Limpiar </button>
    </div>
    <br>
    <br>
    <div class="">
        <table id="tbComics" class="">
            <caption> <strong><h5>Comics</h5></strong> </caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comics of this.comicsData">
                    <td>
                        {{ comics.id}}
                    </td>
                    <td>
                        {{ comics.name }}
                    </td>
                    <td>
                        <a href="javascript:void(0)" (click)="this.getImage(comics.resources, 'c')">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table id="tbEvents">
            <caption><strong><h5>Eventos</h5></strong></caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eventos of this.eventsData">
                    <td>
                        {{ eventos.id}}
                    </td>
                    <td>
                        {{ eventos.name }}
                    </td>
                    <td>
                        <a href="javascript:void(0)" (click)="this.getImage(eventos.resources, 'e')">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table id="tbSeries">
            <caption><strong><h5>Series</h5></strong></caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let series of this.seriesData">
                    <td>
                        {{ series.id}}
                    </td>
                    <td>
                        {{ series.name }}
                    </td>
                    <td>
                        <a href="javascript:void(0)" (click)="this.getImage(series.resources, 'se')">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table id="tbHistorias">
            <caption><strong><h5>Historias</h5></strong></caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stories of this.storiesData">
                    <td>
                        {{ stories.id}}
                    </td>
                    <td>
                        {{ stories.name }}
                    </td>
                    <td>
                        <a href="javascript:void(0)" (click)="this.getImage(stories.resources, 'st')">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
