<div class="" align="center">
    <h2>Bitacora de Accessos a la API de Marvel</h2>
    <div class="">
        <button (click)="this.consultBitacora()"> Consultar bitacora</button>
    </div>
    <br>
    <ol id="lista4">
        <li *ngFor="let items of this.data">
            {{ items.dateAcces }}
        </li>
    </ol>
</div>

<div class="" align="center">
    <h3> Consultar Personaje:</h3>
    <div class="">
        <label for="idNombrePersonaje"> <strong>Nombre del personaje: </strong></label>
        <input type="text" id="idNombrePersonaje" #nameCharacters class="text"/>
        <br>
        <br>
        <button (click)="this.consulCharacteres(nameCharacters.value)"> Buscar </button>
    </div>
    <br>
    <br>
    <div class="">
        <table id="tbComics" class="">
            <caption> <strong>Comics</strong> </caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comics of this.comicsData">
                    <td>
                        {{ comics.id}}
                    </td>
                    <td>
                        {{ comics.name }}
                    </td>
                    <td>
                        <a href="{{ comics.resources }}">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table id="tbEvents">
            <caption><strong>Eventos</strong></caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eventos of this.eventsData">
                    <td>
                        {{ eventos.id}}
                    </td>
                    <td>
                        {{ eventos.name }}
                    </td>
                    <td>
                        <a href="{{ eventos.resources }}">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table id="tbSeries">
            <caption><strong>Series</strong></caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let series of this.seriesData">
                    <td>
                        {{ series.id}}
                    </td>
                    <td>
                        {{ series.name }}
                    </td>
                    <td>
                        <a href="{{ series.resources }}">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table id="tbHistorias">
            <caption><strong>Historias</strong></caption>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stories of this.storiesData">
                    <td>
                        {{ stories.id}}
                    </td>
                    <td>
                        {{ stories.name }}
                    </td>
                    <td>
                        <a href="{{ stories.resources }}">Clic</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
